.github/**
scripts/**
tests/**
node_modules/**
package-lock.json
extension.js
yanxu-commands.js
language-features.js
symbol-index.js
workspace-indexer.js
package-resolver.js
resources/**
images/icon.svg
*.vsix
